shared/
.vscode/

build/linux/
build/buildroot/
build/rootfs/

driver-code/maximtemp
*.dtb
*.cmd
*.symvers
*.order
*.ko
*.mod
*.mod.c
*.mod.o
*.o
*.d

renode/bins/drive.img
renode/bins/Image
renode/bins/opensbi.bin
renode/bins/rootfs.cpio
